.login-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 50px);
}

.left-box {
  position: relative;
}

.left-box img {
  width: 700px;
  margin-left: 20%;
}

@media (max-width: 1400px) {
  .left-box img {
    width: 550px;
    margin-left: 8%;
  }
}

.left-box h2 {
  position: absolute;
  padding: 8px 16px;
  background-color: violet;
  width: 435px;
  top: -50px;
  right: 0;
  box-shadow: 6px 6px 12px 0px rgba(0, 0, 0, 0.5);
}

.right-box {
  padding: 40px 80px;
  margin-right: 6%;
  min-width: 400px;
}

.right-box h1 {
  margin-bottom: 30px;
}

.input-items {
  margin: 0px 0;
  /* height: 100px; */
  width: 380px;
  padding-left: 0;
}

.error {
  color: red;
  font-size: 14px;
}

.submit-btn {
  margin: 0;
  padding: 0;
}
