.help-container {
  margin-top: 50px;
  padding: 0 150px;
}
.switch-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 270px; */
  /* margin: 0 auto; */
  flex-direction: column;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(80px);
  -ms-transform: translateX(80px);
  transform: translateX(80px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  padding-left: 15px;
  font-weight: 550;
  color: white;
  padding-top: 2px;
}

.slider.round.hide {
  text-align: right;
  padding-right: 35px;
  color: rgba(0, 0, 0, 0.65);
}

.slider.round:before {
  border-radius: 50%;
}

.help-wrapper {
  margin: 15px 125px;
  list-style: circle;
}

.help-wrapper li {
  margin-bottom: 10px;
}
